.cart {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
}
.cart-body {
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  padding: 0px;
  gap: 80px;

  position: relative;
  width: 1170px;
  height: 436px;
}
.checkout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 173px;

  width: 1170px;
  height: 324px;
}
.update-cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;


  order: 1;
  flex-grow: 0;
}
.coupon {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 16px;

  width: 527px;
  height: 56px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.coupon input {
  box-sizing: border-box;
  width: 300px;
  height: 56px;
  border: 1px solid #000000;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.coupon button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 48px;
  gap: 10px;

  width: 211px;
  height: 56px;

}
.cart-total {
  box-sizing: border-box;
  width: 470px;
  height: 324px;
  border: 1.5px solid #000000;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.price1 {
/* Frame 796 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 307px;

position: absolute;
width: 422px;
height: 24px;
left: 24px;
top: 84px;


}
.price2 {
    /* Frame 795 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 314px;

position: absolute;
width: 422px;
height: 24px;
left: 24px;
top: 140px;

}
.price3{
    /* Frame 794 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 335px;

position: absolute;
width: 422px;
height: 24px;
left: 24px;
top: 196px;


}

.price span {
  /* $1750 */

width: 44px;
height: 24px;

/* Title/16PX Regular */
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Text2 */
color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.cart-total hr{
    /* UnderLine */

position: absolute;
width: 422px;
height: 0px;
left: 24px;
top: 124px;

opacity: 0.4;

}
