h1 ,p{
    color: black;
    text-align: center;
}
h1{
    font-size: 100px;
}
button{
    background-color:#DB4444;
    position: absolute;
    bottom: 50%;
    left: 40%;
    width: 254px;
    height: 50px;
    color: white;
    font-size:16px ;
}