.wishlist-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 60px;
    width: 1170px;
    height: 438px;
    flex: none;
    order: 0;
    flex-grow: 0;


}

.header {


    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 835px;
    width: 1170px;
    height: 56px;
    flex: none;
    order: 0;
    flex-grow: 0;


}

.header button {
    /* Button */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 48px;
    gap: 10px;
    margin-top: 10px;
    width: 223px;
    height: 56px;

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}



.wishlist-items-container {
    /* Frame 777 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    background-color: #ffffff;
    width: 1170px;
    height: 322px;


    /* Inside auto layout
    flex: none;
    order: 1;
    flex-grow: 0; */


}

.wishlist {
    /* Cart */
    background-color: #ffffff;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    /* margin-right: 10px; */
    width: 270px;
    height: 322px;


    /* Inside auto layout
    flex: none;
    order: 0;
    flex-grow: 0; */


}

.wishlist-items {
    /* Cart */

    width: 270px;
    height: 250px;

    /* Secondary */
    background: #F5F5F5;
    border-radius: 4px;

    /* Inside auto layout */
    /* flex: none;
    order: 0;
    flex-grow: 0; */

}

.discount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 10px;

    /* position: absolute; */
    width: 55px;
    height: 26px;
    left: 12px;
    top: 12px;

    /* Secondary 2 */
    background: #DB4444;
    border-radius: 4px;
}

.wishimg {
    /* Frame 609 */
    background-image: url(/src/Components/Assets/PS_main_image.png);
    align-items: center;
    /* position: absolute; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
    width: 190px;
    height: 180px;
    left: 40px;
    top: 15px;


}

.delete {
    /* Fill Eye */

    width: 34px;
    height: 34px;
    top: 0px;
    right: 0px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.wishlist-items button {


    position: relative;
    height: 41px;
    left: 0%;
    width: 100%;
    bottom: 20px;
    color: white;
    background: #000000;
    border-radius: 0px 0px 4px 4px;

}