.card {
  /* Cart With Flat Discount  */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin: 10px;
  gap: 16px;

  width: 270px;
  height: 350px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.card-top {
  width: 270px;
  height: 250px;
  background: #f5f5f5;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-price {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  width: 85px;
  height: 24px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card-icons {
  padding: 0px;
  width: max-content;
}
.card-icons img {
  position: relative;
  margin-left: 220px;
  top: 0px;
  right: 0;
  width: 34px;
  height: 34px;
}

.discount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4px 12px;
  gap: 10px;

  position: relative;
  width: 30px;
  height: 26px;
  left: 12px;
  top: 12px;
  background: #f15555;
  border-radius: 4px;
}
.card-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 201px;
    height: 84px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .card-bottom h3 {
    /* HAVIT HV-G92 Gamepad */
  
    width: 201px;
    height: 24px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .card-bottom span:first-child{
    color: #f15555;
  }
  .card-bottom span:nth-child(2){
    color: grey;
    text-decoration: line-through;
  }
