.item {
  display: flex;
  flex-direction: column;
}

.item_details {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.item_dir {
  display: flex;
  position: relative;
  left: 5px;
  top: 0;
}
.item_images {
  display: flex;
  position: relative;
  left: 0px;
  top: 1px;
  width: 50%x;
  margin: 5px;
  padding: 5px;
}
.side_images {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 170px;
  height: 500px;
  gap: 15px;
}
.side_images img {
  display: flex;
  width: max-content;
  height: auto;
  background: #f5f5f5;
  border-radius: 4px;
}
.side_image {
  /* Frame 928 */

  position: relative;
  top: 5px;
  width: 170px;
  height: 138px;

  /* Secondary */
  background: #f5f5f5;
  border-radius: 4px;
}
.main_image {
  /* Frame 927 */

  position: relative;
  width: 500px;
  height: 500px;

  /* Secondary */
  background: #f5f5f5;
  border-radius: 4px;

  background: #f5f5f5;
}
.main_image img {
  /* image 63 */

  position: absolute;
  width: 446px;
  height: 315px;
  left: 27px;
  top: 84px;

  border-radius: 2px;
}
.item_disc {
  width: 399px;
  margin: 5px;
  padding: 5px;
}

.item_disc h1 {
  /* Heading/24PX SemiBold */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.item_disc h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}
.size {
  display: flex;
  flex-direction: row;
}
.buy_ammount {
  display: flex;
  flex-direction: row;
  margin: 15px;
  gap: 10px;
}
.buy_ammount button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 48px;
  position: relative;
  height: 44px;
  text-align: center;
  padding: 15px 30px;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #db4444;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #db4444;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #db4444;
}
.buy_ammount button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #db4444;
}
.buy_ammount button:active {
  transform: scale(0.9);
}
.buy_ammount span {
  box-sizing: border-box;
  text-align: center;
  height: 44px;
  flex: none;
  cursor: pointer;
}
.buy_ammount span:active {
  transform: scale(0.9);
}
.buy_ammount span:first-child {
  /* Frame 906 */

  width: 40px;

  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px 0px 0px 4px;
  order: 0;
  flex-grow: 0;
  margin: 0px -1px;
}
.buy_ammount span:nth-child(2) {
  width: 80px;

  border-width: 1px 0px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  text-align: center;

  /* Inside auto layout */
  order: 1;
  flex-grow: 0;
  margin: 0px -1px;
}
.buy_ammount span:nth-child(3) {
  /* Frame 907 */
  margin-left: 0;
  width: 41px;

  /* Secondary 2 */
  background: #db4444;
  border-radius: 0px 4px 4px 0px;
  order: 2;
  flex-grow: 0;
}

.add-minus {
  /* Frame 935 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;

  position: relative;
  width: 159px;
  height: 44px;
}
.delivery {
  display: flex;
  flex-direction: column;
  /* Frame 937 */

  box-sizing: border-box;

  position: relative;
  width: 399px;
  height: 180px;

  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
#minus {
  /* icon-minus */

  position: absolute;
  width: 24px;
  height: 24px;
  left: 8px;
  top: 10px;
}
#plus {
  /* icon-plus */

  position: relative;
  width: 24px;
  height: 24px;
  left: 0;
  top: 10px;
}

.wishlist_icon {
  /* Frame 936 */

  position: relative;
  width: 40px;
  height: 40px;

  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
.wishlist_icon img {
  /* Wishlist */

  position: absolute;
  width: 32px;
  height: 32px;
  left: 4px;
  top: 4px;
}
.free {
  /* Frame 915 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 332px;
  height: 50px;
  left: 16px;
  top: 24px;
}
.return {
  /* Frame 914 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 281px;
  height: 50px;
  left: 16px;
  top: 106px;
}
.free,
.return {
  /* border: 1.5px solid black; */

  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 8px;
}
.delivery img {
  width: 40px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.delivery p {
  /* Enter your postal code for Delivery Availability */

  width: 276px;
  height: 18px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */
  text-decoration-line: underline;

  color: #000000;
}
.delivery h1 {
  width: max-content;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.related_item{
  /* Frame 938 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 60px;

position: relative;
width: 1170px;
height: 450px;


}
.related_header{
  /* Frame 923 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 140px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.related_header span{
  /* Related Item */

width: 104px;
height: 20px;

/* Title/16PX Semibold */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

/* Secondary 2 */
color: #DB4444;


/* Inside autlayout */
flex: none;
order: 1;
flex-grow: 0;

}