html,
body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  flex: 1;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.footer_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  gap: 30px;
}


.footer_content ul {
  list-style: none;
  padding: 0;
}

.footer_content li {
  margin: 10px 0;
}

.footer_content h3 {
  font-weight: 400;
  font-size: 20px;
}

.footer_content input[type="email"] {
  box-sizing: border-box;
  border: 1px solid #fafafa;
  background: black;
  color: #fafafa;
  padding: 12px 16px;
  border-radius: 4px;
  width: 100%;
  margin-top: 10px;
}

.socials ul {
  display: flex;
  gap: 10px;
}

.socials img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
}

.support,
.socials {
  flex: 1 1 200px;
}

@media (min-width: 768px) {
  .footer_content {
    flex-direction: row;
  }
}

@media (max-width: 767px) {
  .footer_content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}