.footer {
  display: flex;
position: relative;
bottom: 0;
width: 1440px;
height: 340px;
  margin-bottom: 0;
  width: 100%;
  font-family: "Poppins";
}
.footer_content {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 80;
  padding: 40px;
  margin: 5px;
  width: 100%;
  align-items: center;
  text-align: left;
  justify-content: center;
  gap: 60px;
  
}
.footer_content ul {
  font-size: 15px;
  list-style: none;
  text-align: left;
  padding: 0;
  align-items: center;
}
.footer_content li {
    font-size: 16px;
  margin: 10px;
  width: max-content;
}
.footer_content h3{
    font-weight: 400;

    font-size: 20px;

}
.support, .socials{
  height: 200px;
}
.support,
.account,
.quick_link,
.socials, .subscribe {
  width: fit-content;
  flex: none;
order: 3;
flex-grow: 0;

}
.subscribe input {
  /* Send Mail */

  box-sizing: border-box;
  border-color: #fafafa;
  background: black;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0px 12px 16px;
  gap: 32px;
  /* Text */
  color:  #fafafa;
  border-radius: 4px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.socials img{
    border: 0px solid;
    border-radius: 25px;
    width: 24px;
    height: 24px;
    color: wheat;
    background-color: white;
}
.socials ul{
  cursor: pointer;
  display: flex;
  flex-direction: row;
}














